<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<!-- jQuery  -->
	    <script src="https://code.jquery.com/jquery-3.1.1.slim.js" integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA=" crossorigin="anonymous"></script>

	    <!-- Bootstrap CSS -->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	    <!-- Bootstrap JavaScript -->
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	    <!-- Custom CSS-->
	    <link rel="stylesheet" href="stylesheets/style.css">

	    <!-- Custom JavaScript-->
	    <script src="javascripts/promptData.js"></script>
		<script src="javascripts/nounData.js"></script>
		<script src="javascripts/adjectiveData.js"></script>
		<script src="javascripts/verbData.js"></script>
		<script src="javascripts/generator.js"></script>
		<script src="javascripts/pluralize-master/pluralize.js"></script>
	</head>
	<body>
		<div class="containter">
			<div>
				<div class="row m-2 mt-3 mb-3">
				    <div class="col">
				      	
				    </div>
				    <div class="col-12 col-sm-3 order-sm-2" id="github">
				      	<a href="https://github.com/Luk3-V/Idea-Generator" class="text-muted">
							<i class="bi bi-github"></i>
						</a>
				    </div> 
				    <div class="col-12 col-sm-6 order-sm-1" id="title">
				      	<h1>Random Art Ideas</h1>
				    </div>
				</div>
			</div>	
			<div class="container d-grid justify-content-center" id="menu">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<button class="nav-link active border-2" id="basicTab" data-bs-toggle="tab" data-bs-target="#basic" type="button" role="tab" aria-controls="basic" aria-selected="true">Basic</button>

						<button class="nav-link border-2" id="advancedTab" data-bs-toggle="tab" data-bs-target="#advanced" type="button" role="tab" aria-controls="advanced" aria-selected="true">Advanced</button>
					</div>
				</nav>
				<div class="tab-content text-white" id="nav-tab-content">
					<!-- basic sliders -->
					<div class="tab-pane fade show active p-3" id="basic" role="tab-panel" aria-labelledby="basicTab">
						<label for="basicRange" class="form-label">Complexity: <span id="basicValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="basicRange">
					</div>
					<!-- advanced sliders -->
					<div class="tab-pane fade p-3" id="advanced" role="tab-panel" aria-labelledby="advancedTab">
						<label for="promptRange" class="form-label">Prompt Complexity: <span id="promptValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="promptRange">

						<label for="nounRange" class="form-label">Noun Complexity: <span id="nounValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="nounRange">

						<label for="adjRange" class="form-label">Adjective Complexity: <span id="adjValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="adjRange">

						<label for="verbRange" class="form-label">Verb Complexity: <span id="verbValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="verbRange">

						<label for="styleRange" class="form-label" id="styleLabel">Style Complexity: <span id="styleValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="styleRange">

						<label for="techRange" class="form-label" id="techLabel">Technique Complexity: <span id="techValue"></span></label>
						<input type="range" class="form-range" min="1" max="3" value="1" id="techRange">
					</div>
					<div class="toggles">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="styleToggle" checked>
							<label class="form-check-label" for="styleToggle">Add Style</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="techToggle" checked>
							<label class="form-check-label" for="techToggle">Add Technique</label>
						</div>
					</div>
				</div>
					
				<button class="btn btn-outline-light mt-4" id="generateButton" type="button" onclick="generate()">Generate</button>
			</div>
			
			<div class="container text-white text-center" id="output">
				<p class="prompt" id="result">...</p>
			</div>
		</div>
			

	</body>
	<script src="javascripts/settings.js"></script>
</html>