* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #060017;
}

h1 {
  font-size: 40px;
}


#title {
  text-align: center!important;
  color: darkgray;
}

#version {
  font-family: monospace!important;
  font-weight:  normal!important;
}

#github {
  text-align: right!important;
  color: darkgray;
  font-size: 40px;
  position: absolute;
  right:  10px;
  top:  10px;
}

#menu {
  max-width: 400px;
}

.nav-tabs {
  border: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #282828;
}

#basicTab {
  border-top-right-radius: 0rem;
  border-right: 0px;
}

#advancedTab {
  border-top-left-radius: 0rem;
  border-left: 0px;
}

.nav-link {
  color: darkgray;
  border-color: #414141 #414141 #282828!important;
}
.nav-link:hover {
  color: white;
  background: #414141;
}

.tab-pane {
  padding: 20px 0!important;
}

.tab-content {
  width: 400px;
  padding-right: 50px;
  padding-left: 50px;
  background: #282828;
  border: 2px solid #414141;
  border-top: 0px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.form-range {
  margin-bottom: 1rem;
}
  .form-range::-webkit-slider-thumb {
    cursor: pointer;
    box-shadow: 0 0 0 3px #282828;
  }

  .form-range::-webkit-slider-thumb:hover {
 
  }

.toggles {
  margin: 0;
  padding-bottom: 20px;
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

#output {
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.prompt {
  font-size: 24px;
}
  .prompt a {
    color: deepskyblue;
    text-decoration: none;
    line-height: 25px;
  }

  .prompt a:hover {
      text-decoration: underline;
  }

#info {
  max-width: 440px;
  font-family: 'Courier New', monospace!important;
  color: gray;
}


@media (max-width: 575.5px){
  .tab-content {
    width: 300px;
  }

  h1 {
    padding-top: 10px;
    font-size: 30px!important;
  }

  #github {
    font-size: 30px;
  }
}